.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* 로고와 로그인 박스를 세로로 정렬하기 위해 flex-direction 속성 적용 */
}

.login-box {
    width: 300px;
    padding: 30px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.login-logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; /* 로고와 로그인 박스 사이의 간격을 설정합니다 */
}

.input-field {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.input-field input{
    width: 290px;
    height: 30px;
    padding: 5px;
    border: none; /* 기본 테두리 제거 */
    border-bottom: 1px solid #ccc; /* 아랫줄을 회색 선으로 설정 */
    margin-bottom: 20px;
    border-radius: 5px;
}

.login-button {
    height: 50px;
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: #f0f0f0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
